<%
  // path function begin
  // - - - - - - - - - - - - - - - - - - - - - - - -
  var absolutePath = data.domain + filename.split(data.developDir)[filename.split(data.developDir).length -1].replace('index.ejs','').replace('.ejs','.html');
  var relativePath = '../'.repeat([absolutePath.replace(data.domain,'').split('/').length -1]);
%>


<%- include(relativePath +'common/_path', {absolutePath:absolutePath, relativePath:relativePath}) %>

<%
  var path = pagePath();
  // - - - - - - - - - - - - - - - - - - - - - - - -
  // path function end
%>




<%
  // page info
  // - - - - - - - - - - - - - - - - - - - - - - - -
  var page = {
    title: 'HOME',
    desc: 'This is home',
    ogp: {
      image: '',
      type: 'website'
    },
    singleCss: [],
    singleJs: [],
    modifier: 'home'
  };
%>


<%
  // = = = = = = = = = = = = = = = = = = = =
  //
  // html begin
  //
  // = = = = = = = = = = = = = = = = = = = =
%>





<!-- head -->
<%- include(path.re +'common/parts/_head', {page:page, path:path}) %>


<!-- header -->
<%- include(path.re +'common/parts/_header', {page:page, path:path}) %>









      <main class="main <% if(page.modifier) { %> main--<%= page.modifier %><% } %>">
        <p>absolute path: <%= path.ab %></p>
        <p>root path: <%= path.re %></p>
        <p>domain: <%= data.domain %></p>


        <!-- tab -->
        <section class="c-tab c-article" id="js-tab">
          <h2 class="h1 u-mb--md">tab panel <br> - -</h2>
          <ul class="c-tab_nav f-flex f-between">
            <li class="c-tab_nav-item">
              <a href="#item01" class="c-tab_nav-target f-middle-center js-tab-trigger is-active">btn-01</a>
            </li>
            <li class="c-tab_nav-item">
              <a href="#item02" class="c-tab_nav-target f-middle-center js-tab-trigger">btn-02</a>
            </li>
            <li class="c-tab_nav-item">
              <a href="#item03" class="c-tab_nav-target f-middle-center js-tab-trigger">btn-03</a>
            </li>
          </ul>
          <ul class="c-tab_panel u-text-justify">
            <li class="c-tab_panel-item js-tab-item is-active" id="item01">
              1! <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora beatae ratione, aut fugiat, perspiciatis velit quam neque, similique ducimus impedit fugit cumque libero ut voluptatum, dolorum adipisci eos expedita suscipit! <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora beatae ratione, aut fugiat, perspiciatis velit quam neque, similique ducimus impedit fugit cumque libero ut voluptatum, dolorum adipisci eos expedita suscipit! <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora beatae ratione, aut fugiat, perspiciatis velit quam neque, similique ducimus impedit fugit cumque libero ut voluptatum, dolorum adipisci eos expedita suscipit! <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora beatae ratione, aut fugiat, perspiciatis velit quam neque, similique ducimus impedit fugit cumque libero ut voluptatum, dolorum adipisci eos expedita suscipit! <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora beatae ratione, aut fugiat, perspiciatis velit quam neque, similique ducimus impedit fugit cumque libero ut voluptatum, dolorum adipisci eos expedita suscipit! <br>
              1!
            </li>
            <li class="c-tab_panel-item js-tab-item" id="item02">
              2! <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora beatae ratione, aut fugiat, perspiciatis velit quam neque, similique ducimus impedit fugit cumque libero ut voluptatum, dolorum adipisci eos expedita suscipit! <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora beatae ratione, aut fugiat, perspiciatis velit quam neque, similique ducimus impedit fugit cumque libero ut voluptatum, dolorum adipisci eos expedita suscipit! <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora beatae ratione, aut fugiat, perspiciatis velit quam neque, similique ducimus impedit fugit cumque libero ut voluptatum, dolorum adipisci eos expedita suscipit! <br>
              2!
            </li>
            <li class="c-tab_panel-item js-tab-item" id="item03">
              3! <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora beatae ratione, aut fugiat, perspiciatis velit quam neque, similique ducimus impedit fugit cumque libero ut voluptatum, dolorum adipisci eos expedita suscipit! <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora beatae ratione, aut fugiat, perspiciatis velit quam neque, similique ducimus impedit fugit cumque libero ut voluptatum, dolorum adipisci eos expedita suscipit! <br>
              3!
            </li>
          </ul>
        </section>




        <!-- slider -->
        <section class="c-slider c-article">
          <h2 class="h1 u-mb--md">slider <br> - -</h2>

          <div class="c-article_inner">
            <h3 class="h2 u-mb--sm">carousel basic <br> - </h3>

            <ul class="c-slider_list owl-carousel owl-theme js-slider-basic">
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/88ccff/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/88ccaa/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/aadddd/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/88cccc/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/88ccff/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/88ccaa/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/aadddd/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/55ccdd/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/88ccaa/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/aadddd/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
            </ul>
          </div>

          <div class="c-article_inner">
            <h3 class="h2 u-mb--sm">carousel centering <br> - </h3>

            <ul class="c-slider_list owl-carousel owl-theme js-slider-center">
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/88cccc/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/88ccff/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/88ccaa/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/aadddd/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/55ccdd/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
            </ul>

          </div>

          <div class="c-article_inner">
            <h3 class="h2 u-mb--sm">single item ／ fade <br> - </h3>

            <ul class="c-slider_list owl-carousel owl-theme js-slider-fade">
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/88cccc/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/88ccff/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/88ccaa/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/aadddd/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/55ccdd/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
            </ul>
          </div>

          <div class="c-article_inner">
            <h3 class="h2 u-mb--sm">custom navigation <br> - </h3>

            <ul class="c-slider_list owl-carousel owl-theme js-slider-my-nav">
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/88ccff/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/88ccaa/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/aadddd/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/88cccc/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/88ccff/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/88ccaa/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/aadddd/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/55ccdd/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/88ccaa/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
              <li class="c-slider_item"><a href="" class="c-slider_target"><img src="http://dummyimage.com/800x600/aadddd/686a82.gif&text=test+image" alt="placeholder+image"></a></li>
            </ul>

            <ul class="c-slider_nav f-flex f-between">
              <li class="c-slider_navi-item">
                <a href="" class="c-slider_navi_target c-slider_navi_target--prev js-slider-nav-prev f-in-flex f-center f-middle"></a>
              </li>
              <li class="c-slider_navi-item">
                <a href="" class="c-slider_navi_target c-slider_navi_target--next js-slider-nav-next f-in-flex f-center f-middle"></a>
              </li>
            </ul>

          </div>

        </section>

      </main>









<!-- footer -->
<%- include(path.re +'common/parts/_footer', {page:page, path:path}) %>






<%
  // = = = = = = = = = = = = = = = = = = = =
  //
  // html end
  //
  // = = = = = = = = = = = = = = = = = = = =
%>
